<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controllerProduct</servlet-name>
        <servlet-class>controllers.controllerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerClient</servlet-name>
        <servlet-class>controllers.controllerTercero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerLogin</servlet-name>
        <servlet-class>controllers.controllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerLogout</servlet-name>
        <servlet-class>controllers.controllerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartShop</servlet-name>
        <servlet-class>controllers.addCartShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductCart</servlet-name>
        <servlet-class>controllers.deleteProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generarVenta</servlet-name>
        <servlet-class>controllers.generarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerImages</servlet-name>
        <servlet-class>controllers.controllerImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerVenta</servlet-name>
        <servlet-class>controllers.controllerVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerProveedor</servlet-name>
        <servlet-class>controllers.controllerProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerEntregas</servlet-name>
        <servlet-class>controllers.controllerEntregas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerCompras</servlet-name>
        <servlet-class>controllers.controllerCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerCorreos</servlet-name>
        <servlet-class>controllers.controllerCorreos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerProduct</servlet-name>
        <url-pattern>/methodProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerClient</servlet-name>
        <url-pattern>/methodClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerLogin</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerLogout</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartShop</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductCart</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generarVenta</servlet-name>
        <url-pattern>/newVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerImages</servlet-name>
        <url-pattern>/methodImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerVenta</servlet-name>
        <url-pattern>/processVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerProveedor</servlet-name>
        <url-pattern>/processProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerEntregas</servlet-name>
        <url-pattern>/controllerEntregas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerCompras</servlet-name>
        <url-pattern>/controllerCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerCorreos</servlet-name>
        <url-pattern>/controllerCorreos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
